### OS ###
.DS_Store
Thumbs.db

### Java ###
*.class
*.jar
*.war
*.ear

### Logs ###
*.log

# Package Files #
*.nar
*.zip
*.tar.gz
*.rar

### Eclipse ###
.project
.classpath
.settings/
bin/
tmp/

### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

### Notes ###
HELP.md